<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body style="width: 300px; margin: auto;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form action="/profile" enctype=multipart/form-data method="post">
        <img src={{ avatar }} alt="Avatar" style="width: 300px; height: 300px;"></img>
        <input type=file name=file>
        <input type=submit value=Upload>  
    </form>
    <br>
    <span>Back to <a href="/">home page</a></span>
</body>
</html>