<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="width: 600px; margin-top: 250px; margin-left: 35%">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {%for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div>
        <form action="/register" method="post">
            <label for="user" style="margin-right:90px">User</label>
            <input type="text" name="username">
            <br>
            <label for="password" style="margin-right:59px">Password</label>
            <input type="password" name="password">
            <br>
            <label for="password_confirm">Confirm Password</label>
            <input type="password" name="password_confirm">
            <input type="submit" value="Register">
        </form>
        <br>
        <span>Already have an account? <a href="/login">Login</a></span>
    </div>
</body>
</html>